# example
# local-parameter (gitignore).
# filename: "local.properties" in the root directory

# modulepath
# separated by semicolons
module.path=./lib;./lib2

# distribution path (create Jar, Zip)
jardist.dir=./dist
